#carouselExampleCaptions{
    width: 90%;
    margin: auto;
}

.carrousel-item img{
    width: 50%;
    height: 400px;
}

img{
    width: 900px;
    height: 600px;
}

.img-descriptive{
    width: 600px;
    height: 200px;

    box-shadow: 10px 20px orange, 1em 0 .4em olive;
}
h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

p,ul{
    font-size: 18px;
}
h1, h2{
    color:orange;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}

p,ul{
    color: #0c4a6e;
    text-align: justify-all;
    justify-items: auto;
    margin-top: 20px;

}

ul{
    list-style: none;
    text-align: justify;
}

body {
 background-color:ghostwhite;
}

.bloc2{
    background-color: #0c4a6e;
    color: white;
}


/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}