#carouselExampleCaptions{
    width: 100%;
    margin: auto;
}

.carrousel-item img{
    width: 100%;

}

img {
    width : 200vw;
    height : 100vh;
    max-width : 100%;
    max-height : 500px;
}

.img-descriptive{
    width: 800px;
    height: 500px;
    box-shadow: 10px 20px orange, 1em 0 .4em dodgerblue;
    margin:20px;

}
h1{
    font-size: 45px;
    margin-top: 20px;
    text-transform: uppercase;
}

h3{
    font-size: 35px;
    margin-top: 20px;
}

p,ul {
    font-size: 18px;
    color: #0c4a6e;
    text-align: justify;
}
h1, h3{
    color:orange;
    font-weight: lighter;
    text-align: center;

}


ul{
    list-style:none;
    text-align:center;
}

body {
 background-color:ghostwhite;
}

.theme-bleue{
    background-color: #0c4a6e;
    color: white;
}


/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 460px) {
    h1,h3{
        font-size: 30px;
        margin-top: 20px;
    }

    p,ul {
        font-size: 16px;
        color: #0c4a6e;
        text-align: justify;
        list-style: circle;
    }

    .btn-center{
        text-align: center;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}